<!-- http://placehold.it/600x450 -->
<section class="container-main">
    <h1 class="heading-primary">Primary Roles</h1>

    <ul class="role-block grid-parent ul-base">
        <li class="role-each grid-child">
            <h1 class="heading-secondary jblack"><i class="fa fa-keyboard-o fa-3x"></i></h1>
            <div class="role-each-member">Front End Developer</div>
        </li>

        <li class="role-each grid-child">
            <h1 class="heading-secondary jblack"><i class="fa fa-terminal fa-3x"></i></h1>
            <div class="role-each-member">UIUX Developer</div>
        </li>

        <li class="role-each grid-child">
            <h1 class="heading-secondary jblack"><i class="fa fa-laptop fa-3x"></i></h1>
            <div class="role-each-member">UI Engineer</div>
        </li>

        <li class="role-each grid-child">
            <h1 class="heading-secondary jblack"><i class="fa fa-lightbulb-o fa-3x"></i></h1>
            <div class="role-each-member">UIUX Designer</div>
        </li>

        <li class="role-each grid-child">
            <h1 class="heading-secondary jblack"><i class="fa fa-headphones fa-3x"></i></h1>
            <div class="role-each-member">Programmer & Hacker</div>
        </li>

        <li class="role-each grid-child">
            <h1 class="heading-secondary jblack"><i class="fa fa-image fa-3x"></i></h1>
            <div class="role-each-member">Graphic Designer</div>
        </li>
    </ul>
</section>

<section class="join-block">
    <div class="background-block background-block--job">
        <div class="background-block-content container-sm">
            <h2 class="heading-secondary">Hire Me</h2>
            <p>I have spent over 2,000 hours studying and building Web Applications over the course of
                the past 3 years so don't let my lack of so called "Professional Experience" lead you to believe I don't
                have what it takes to
                contribute a ton to the team. I love coding, and designing, it's something I sincerely enjoy doing. It's
                all I do all day
                every day ^_^</p>


            <div class="job-positions-block">
                <h3 class="center">Positions I would be good at:</h3>

                <div class="job-positions-each">
                    <div class="font-large"><strong>Front End Developer</strong><em>(I'm open to Remote)</em></div>
                    <p><em>Because:</em>I have expertise in HTML, CSS, & JavaScript, I'm also very good w/ The MV*
                        Frameworks
                        AngularJS & ReactJS. I have knowledge of Unit Testing via Jasmine & Karma. I know the CSS
                        Precompilers SASS,
                        Less, and Stylus, the CSS Framework Bootstrap, and Responsive Web Design via CSS <i
                                class="fa fa-css3"></i>. I know Front End Build Tools such as gulp/grunt, Bower,
                        Browserify and
                        Yeoman.io</p>
                </div>

                <div class="job-positions-each">
                    <div class="font-large"><strong>UIUX Developer</strong><em>(I'm open to Remote)</em></div>
                    <p><em>Because:</em>I can implement any design handed to me in CSS, HTML, and JavaScript along with
                        all the
                        other Front End skills I have.</p>
                </div>

                <div class="job-positions-each">
                    <div class="font-large"><strong>Junior Graphic Designer</strong><em>(I'm open to Remote)</em></div>
                    <p><em>Because:</em>I have expertise in Adobe Illustrator, I'm also very good w/ Photoshop,
                        Responsive Web
                        Design, and Vector Graphics & SVG.</p>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </div>
</section>
