<section class="container-main">
  <h1 class="heading-primary">Primary heading</h1>
  <div class="team-block grid-parent">
    <div class="team-each grid-child">
      <img src="http://placehold.it/600x450" alt="img">
      <div class="team-each-member">Julius Alvarado</div>
      <div class="team-each-role">UIUX Designer</div>
    </div>
    <div class="team-each grid-child">
      <img src="http://placehold.it/600x450" alt="img">
      <div class="team-each-member">Julius Alvarado</div>
      <div class="team-each-role">UIUX Designer</div>
    </div>
    <div class="team-each grid-child">
      <img src="http://placehold.it/600x450" alt="img">
      <div class="team-each-member">Julius Alvarado</div>
      <div class="team-each-role">Front End Developer</div>
    </div>
    <div class="team-each grid-child">
      <img src="http://placehold.it/600x450" alt="img">
      <div class="team-each-member">Julius Alvarado</div>
      <div class="team-each-role">UI Engineer</div>
    </div>
    <div class="team-each grid-child">
      <img src="http://placehold.it/600x450" alt="img">
      <div class="team-each-member">Julius Alvarado</div>
      <div class="team-each-role">Programmer & Hacker</div>
    </div>
  </div>
</section>
