<!-- nav 2
<header data-ng-include="'j-core/views/header.client.view.html'" ng-controller="HeaderController" class="navbar navbar-fixed-top" ng-style="style4vert"></header>-->

<!--  nav 1
<div ng-include="'subnav/subnav.html'" style="margin-left: 20%; margin-top: 4%; width: 70%"></div>
-->



<!-- this is the Ninja Review footer, I'll make this a directive -->
<!--
<div class="container-fluid" style="padding:0; color: whitesmoke">
  <div class="bottom-area text-center">
    <h3>SwapServe is a Start up Company by
      <a href="https://github.com/nbr1ninrsan2" target="_blank">Julius Alvarado</a> &
      <a href="http://designbook.com">Dameon Greene</a>
    </h3>
    <h6>version 0.0.1</h6>

    <div class="row">
      <p class="col-md-1 col-md-offset-4">Our Software is Built with:</p>
      <a class="col-md-2 col-sm-2" href="http://angularjs.org" target="_blank">
        <img class="img-responsive" src="https://angularjs.org/img/AngularJS-large.png" alt="angular.js"/>
      </a>
    </div>
  </div>
</div>
-->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID
<script>
  !function(A, n, g, u, l, a, r){
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function(){
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>
-->

<!-- SVG test --
  <div style="width: 400px; height: 400px" class="jSvg">

      <object data="" type="">
          <embed src="svg/loadAnim1.svg" type=""/>
      </object>

      <object data="" type="">
          <embed src="svg/icon-magnify.svg" type=""/>
      </object>

      <object data="" type="">
          <embed src="svg/icon-list.svg" type=""/>
      </object>
  </div>

  <article id="jarticle1" class="text-center row">
    <div class="j-landing">
      <div class="row">
        <div class="wow bounceInLeft">
          <h1 class="col-md-10 col-sm-9 text-center main" style="margin: auto auto">
            ... Welcome to <strong>Julius' <i>Portfolio</i> Site</strong>!
          </h1>
        </div>
      </div>
      <div class="row text-center">
        <p class="lead wow rotateIn">
          <small>I am still developing this site, it'll be completed soon ^_^</small>
        </p>
      </div>
    </div>
  </article>
  -->
