<!-- form component 1 , julius-css.css styles it -->
<section class="form-site-block">
    <div class="container-mid">
        <div class="heading-block">

        </div>
        <form action="#" class="form-site">
            <div class="grid-parent">
                <div class="grid-child form-site-each">
                    <div class="field-block">
                        <label for="field-site-name" class="label label-required">Your Name</label>
                        <input type="text" class="input-text" id="field-site-name">
                    </div>

                    <div class="field-block">
                        <label for="field-site-email" class="label label-required">Your Email</label>
                        <input type="text" class="input-text" id="field-site-email">
                    </div>

                    <div class="field-block">
                        <label for="field-site-role" class="label label-required">Your Profession</label>
                        <input type="text" class="input-text" id="field-site-role">
                    </div>
                </div><!-- form-site-each .end() -->

                <div class="grid-child form-site-each">
                    <div class="field-block">
                        <label for="field-join-skill" class="label-required">My Development Process</label>
                        <textarea id="field-join-skill" class="input-text"></textarea>
                    </div>
                    <div class="field-block center">
                        <input type="submit" class="button full-width" value="Submit Button">
                    </div>
                </div><!-- form-site-each .end() -->
            </div>
        </form>
    </div>
</section>