<section class="bg-cover bg-fixed container">
  <div class="bg-overlay"></div>

  <article class="bg-slide-fade">
    <div class="slide">
      <div class="bg-cover bg-fixed" style="background-image: url(img/bg1.png)"></div>
    </div>
    <div class="slide">
      <div class="bg-cover bg-fixed" style="background-image: url(img/p3.png)"></div>
    </div>
    <div class="slide">
      <div class="bg-cover bg-fixed" style="background-image: url(img/swapserve_pic1.png)"></div>
    </div>
    <div class="slide">
      <div class="bg-cover bg-fixed" style="background-image: url(img/p2.png)"></div>
    </div>
  </article>


  <!-- front landing content -->
  <article class="container">

    <div class="row">
      <div class="col-md-12 text-center intro-message">
        <h1 class="jheading">j-core.home4.html</h1>
        <h1 class="primary-role">Junior Front End Developer</h1>
        <!--<h4>Angular JavaScript | User Interface Development | UIUX Design</h4>-->
        <div class="jmorph">
          <h1 class="left"><i class="fa fa-code"></i> I </h1>
          <h1 class="middle">
            <span id="js-rotating">
              Write Angular Web Apps ,
              Develop User Interfaces ,
              Design User Experiences
            </span>
          </h1>
          <h1 class="right"><i class="fa fa-code"></i></h1>
        </div>
        <button class="btn btn-success btn-lg">Get To Know Me</button>
      </div>
    </div>
  </article>
</section>


<section class="jcontainer-main container-fluid">
  <div class="jcenter">
    <div class="jbanners-home">
      <div class="jheading-block">
        <h1 class="jheading-primary">AngularJS . UIUX . Creativity</h1>
        <div class="jsub-heading">
          <h4>Hire me to contribute to your team! <i>... I'm like a 2 for 1 special. I'm both a creatvie hire and a developer</i></h4>
        </div>
      </div>
      <div class="jbanners-img-block clearfix">
        <img src="j-core/img/art1.png" alt="banner">
        <img src="j-core/img/art1.png" alt="banner">
        <img src="j-core/img/art1.png" alt="banner">
      </div>
    </div>
  </div>

  <!-- The Seqeuce Starts Here -->
  <div id="sequence1">
    <ul class="seq-canvas">
      <li class="slide1">
        <div class="content">
          <h1 data-seq>AngularJS Development</h1>

          <p data-seq>I can help contribute to your ng app or start one from scratch. I'm capable of both.</p>
        </div>
      </li>
      <li class="slide2">
        <div class="content">
          <h1 data-seq>UIUX Development</h1>

          <p data-seq>Hand me over the designs and I'll implement them in <br>JavaScript <strong>(f(x){})(arg)</strong>,
            HTML <span class="fa fa-html5"></span>, & CSS <span class="fa fa-css3"></span></p>
        </div>
      </li>
      <li class="slide3">
        <div class="content">
          <h1 data-seq>UIUX & Graphic Design</h1>

          <p data-seq>If need be I'm fully capable of utilizing my expert Adobe Illustrator skills <br> to make graphics and
            UIUX designs</p>
        </div>
      </li>
    </ul>
    <div class="jseq-landing-nav">
      <button class="btn btn-info fa fa-arrow-circle-left fa-3x seq-prev" rel="sequence1"></button>
      <button class="btn btn-info fa fa-arrow-circle-right fa-3x seq-next" rel="sequence1"></button>
    </div>
  </div> <!-- sequence end -->
</section>


<!-- ======== scripts ========
<script>
  jQuery('.bg-slide-fade').slick({
    autoplay: true,
    slidesToShow: 1,
    slidesToScroll: 1,
    centerMode: false,
    infinite: true,
    arrows: false,
    dots: false,
    fade: true,
    speed: 3700,
    autoplaySpeed: 5000
  });

  $("#js-rotating").Morphext({
    // The [in] animation type. Refer to Animate.css for a list of available animations.
    animation: "flip",
    // An array of phrases to rotate are created based on this separator. Change it if you wish to separate the phrases differently (e.g. So Simple | Very Doge | Much Wow | Such Cool).
    separator: ",",
    // The delay between the changing of each phrase in milliseconds.
    speed: 3000
  });
</script>
-->

<!--<script src="j-core/jquery/jsequence.js"></script>-->

