<!-- The original juliusalvarado.info landing page, prior to WebGL -->
<div id="top-landing-img-wrapper"><i class="fa fa-gears fa-3x"></i></div><!-- bg for parallax effect -->
<div id="tallBG"></div>

<div id="images-wrapper">
  <img id="img1" src="j-core/css/julius1.png" alt="me">
  <img id="img2" src="j-core/css/NinjaGamePublisherBG.png" alt="ninja bg">
  <img id="img3" src="j-core/css/landing3.png" alt="education bg">
</div>

<section id="jcontent" class="container-fluid">

  <!-- sequence.js start -->
  <div id="sequence1">
    <ul class="seq-canvas">
      <li class="slide1">
        <div class="content">
          <h1 data-seq>AngularJS Development</h1>
          <h2>Hello World </h2>
          <p data-seq>I can help contribute to your ng app or start one from scratch. I'm capable of both.</p>
        </div>
      </li>
      <li class="slide2">
        <div class="content">
          <h1 data-seq>UIUX Development</h1>

          <p data-seq>Hand me over the designs and I'll implement them in JavaScript <strong>(f(x){})(arg)</strong>,
            HTML <span class="fa fa-html5"></span>, & CSS <span class="fa fa-css3"></span></p>
        </div>
      </li>
      <li class="slide3">
        <div class="content">
          <h1 data-seq>UIUX & Graphic Design</h1>

          <p data-seq>If need be I'm fully capable of utilizing my expert Adobe Illustrator skills to make graphics and
            UIUX designs</p>
        </div>
      </li>
    </ul>
    <div class="jseq-landing-nav">
      <button class="fa fa-arrow-circle-left fa-3x seq-prev" rel="sequence1"></button>
      <button class="fa fa-arrow-circle-right fa-3x seq-next" rel="sequence1"></button>
    </div>
  </div> <!-- sequence end -->

  <!-- ======== THE GAME CONTENT ======== -->
  <article id="jarticle2">
    <h1>Contact: angularjs.uiux@gmail.com</h1>
    <h2>Here is some test WebGL content</h2>
    <h4>
      Please wait for about 5seconds for the WebGL to load. IF you would like to see how I made this
      character click <a href="http://julius.azurewebsites.net/gamedev.cshtml" target="_blank"><strong>Here</strong></a>
    </h4><br>

    <!-- CANVAS -->
    <iframe src="html5test1/index-game.html" frameborder="0" width="1900px" height="900px"></iframe>
  </article>

  <article id="jarticle3">
    <h2>This is article 3</h2>
    <h4>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet consequuntur error iste iusto provident
      quas temporibus! Dicta et hic impedit qui voluptatem! Ad beatae dolor iusto libero, maiores molestias.
    </h4>
  </article>

</section><!-- end of the HomeController Section -->

<!-- ========== template jQuery scripts ========== -->

<script src="j-core/jquery/jsequence.js"></script>



