<div>
  <h1>j-core.home5.html</h1>
  <h2>This will be my portfolio site ^_^</h2>

  <hr>

  <div class="container-full" style="background: #999;">
    <div class="grid-parent">
      <div class="grid-child">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores distinctio doloremque error
        exercitationem facilis hic omnis sunt tempore voluptatem. Aperiam expedita laudantium molestiae molestias odit
        recusandae tenetur voluptas voluptatum.
      </div>
      <div class="grid-child">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores distinctio doloremque error
        exercitationem facilis hic omnis sunt tempore voluptatem. Aperiam expedita laudantium molestiae molestias odit
        recusandae tenetur voluptas voluptatum.
      </div>
    </div>
  </div>
</div>
