<div class="clearfix">
  <div class="logo-block grid-child">
    <a ui-sref="home" class="logo">
      <h1>
        <i class="fa fa-code"></i><strong>j.Alvarado()</strong><i class="fa fa-code"></i>
      </h1>
    </a>
  </div>

  <nav class="nav-block">
    <ul class="ul-base nav">
      <li><a ui-sref="home">Overview</a></li>
      <li><a ui-sref="team">Team</a></li>
      <li><a ui-sref="featured">Featured</a></li>
      <li><a ui-sref="contact">Contact</a></li>
      <li><a href>Blog</a></li>
      <li><a ui-sref="hire-me">Hire Me!</a></li>
    </ul>
  </nav>
</div>
